<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="technource.autoreum">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:name="technource.autoreum.helper.AppController"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="technource.autoreum.activities.SplashScreen"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider183683602120587"
            android:exported="true" />

        <activity
            android:name="technource.autoreum.activities.LoginScreen"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.ForgotPassword"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.StaticScreen"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="technource.autoreum.activities.How_it_works"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="technource.autoreum.activities.SignUpCarOwner"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="technource.autoreum.activities.SignUpGarageOwner"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="technource.autoreum.activities.DialogActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="technource.autoreum.activities.DashboardScreen"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name="technource.autoreum.activities.ChangepasswordActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="technource.autoreum.activities.NotificationActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.RegisterdCarsScreen"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.PaypalActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="technource.autoreum.activities.PostJob.PostNewJobStepOne"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key" />

        <activity
            android:name="technource.autoreum.activities.GarageOwnerProfileMapActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.RegisterNewCarActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.GarageOwnerGalleryActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.GarageOwnerHoursActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.GarageOwnerServicesActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.GarageOwnerFacilitiesActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.GarageOwnerReviewsActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.ViewHistoryGarageActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.EditRegisteredCarActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <service android:name="technource.autoreum.firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="technource.autoreum.activities.CarDetailsActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.StaticWebpages"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="technource.autoreum.activities.PostJob.PostNewJobStepTwo"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.PostJob.PostNewJobStepThree"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.MyJobsUserActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.MyCrowdUserActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.MyJobsGarageActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.MycrowdgarageActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.PostJob.PostNewJobStepFour"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name="technource.autoreum.activities.PostJob.PostNewJobFive"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="technource.autoreum.activities.PostJob.PostNewJobAdditionalStep"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="technource.autoreum.activities.AskTheCrowd.AskTheCrowdStepOne"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name="technource.autoreum.activities.AskTheCrowd.AskTheCrowdStepTwo"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name="technource.autoreum.activities.AskTheCrowd.AskTheCrowdStepThree"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.AskTheCrowd.AskTheCrowdStepFour"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.JobDetailsActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.AskTheCrowd.AskTheCrowdStepFive"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustNothing" />
        <activity
            android:name="technource.autoreum.activities.AskTheCrowd.AskTheCrowdAdditionalStep"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.QuotedjobDetailsActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.PostJob.EditJobStepOne"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.PostJob.EditJobStepTwo"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.PostJob.EditJobStepThree"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.PostJob.EditJobStepFour"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.PostJob.EditJobStepFive"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="technource.autoreum.activities.SearchCrowdActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.ViewNotificationActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.MyCrowdDetailsActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.ViewNewJobsFeedDetailActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.SearchGarageActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.QuoteJobDetailsActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.QuoteJobDetailsPagerActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.QuoteJobGarageActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.UpdateQuoteGarageActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.ViewSelectSeriviceTypeActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.ViewFreeInclusionsActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.FreeInclusionGarageActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.SelectSubServicesGarageActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.DiscussionActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.GarageOwnerDetailsActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.DisplayGarageOwnerHoursActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.DisplayGarageOwnerServicesActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.DisplayGarageOwnerFacilitiesActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.DisplayGarageOwnerReviewsActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.UserDetailsActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.GenerateSafetyReportGarageActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.UserDetailsActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.DisplayUserRegisterdCarsScreen"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.InvoiceDetailsActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.DetailsOfGarageUserJobActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.WebViewActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.WeeklyDetailsActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.JobsWaitingForReviewActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.AddAReviewScreenActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="technource.autoreum.activities.JobsCompletedByGarageActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name="technource.autoreum.activities.ViewFollowUpWorkActivity" />
        <activity
            android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${applicationId}.braintree" />
            </intent-filter>
        </activity>
        <activity
            android:name="technource.autoreum.activities.DisplayServiceInclusionActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="technource.autoreum.activities.CrowdDiscussionBoardActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustResize" />
    </application>

</manifest>