<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aayushiprojects.greasecrowd">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:name="aayushiprojects.greasecrowd.helper.AppController"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="aayushiprojects.greasecrowd.activities.SplashScreen"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider183683602120587"
            android:exported="true" />

        <activity
            android:name="aayushiprojects.greasecrowd.activities.LoginScreen"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.ForgotPassword"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.StaticScreen"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="aayushiprojects.greasecrowd.activities.How_it_works"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.SignUpCarOwner"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.SignUpGarageOwner"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.DialogActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.DashboardScreen"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.ChangepasswordActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.NotificationActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.RegisterdCarsScreen"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.PaypalActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.PostJob.PostNewJobStepOne"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key" />

        <activity
            android:name="aayushiprojects.greasecrowd.activities.GarageOwnerProfileMapActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.RegisterNewCarActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.GarageOwnerGalleryActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.GarageOwnerHoursActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.GarageOwnerServicesActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.GarageOwnerFacilitiesActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.GarageOwnerReviewsActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.ViewHistoryGarageActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.EditRegisteredCarActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <service android:name="aayushiprojects.greasecrowd.firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="aayushiprojects.greasecrowd.activities.CarDetailsActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.StaticWebpages"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.PostJob.PostNewJobStepTwo"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.PostJob.PostNewJobStepThree"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.MyJobsUserActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.MyCrowdUserActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.MyJobsGarageActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.MycrowdgarageActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.PostJob.PostNewJobStepFour"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.PostJob.PostNewJobFive"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.PostJob.PostNewJobAdditionalStep"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.AskTheCrowd.AskTheCrowdStepOne"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.AskTheCrowd.AskTheCrowdStepTwo"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.AskTheCrowd.AskTheCrowdStepThree"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.AskTheCrowd.AskTheCrowdStepFour"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.JobDetailsActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.AskTheCrowd.AskTheCrowdStepFive"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustNothing" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.AskTheCrowd.AskTheCrowdAdditionalStep"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.QuotedjobDetailsActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.PostJob.EditJobStepOne"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.PostJob.EditJobStepTwo"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.PostJob.EditJobStepThree"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.PostJob.EditJobStepFour"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.PostJob.EditJobStepFive"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.SearchCrowdActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.ViewNotificationActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.MyCrowdDetailsActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.ViewNewJobsFeedDetailActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.SearchGarageActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.QuoteJobDetailsActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.QuoteJobDetailsPagerActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.QuoteJobGarageActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.UpdateQuoteGarageActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.ViewSelectSeriviceTypeActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.ViewFreeInclusionsActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.FreeInclusionGarageActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.SelectSubServicesGarageActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.DiscussionActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.GarageOwnerDetailsActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.DisplayGarageOwnerHoursActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.DisplayGarageOwnerServicesActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.DisplayGarageOwnerFacilitiesActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.DisplayGarageOwnerReviewsActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.UserDetailsActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.GenerateSafetyReportGarageActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.UserDetailsActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.DisplayUserRegisterdCarsScreen"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.InvoiceDetailsActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.DetailsOfGarageUserJobActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name="aayushiprojects.greasecrowd.activities.WebViewActivity" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.WeeklyDetailsActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.JobsWaitingForReviewActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.AddAReviewScreenActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.JobsCompletedByGarageActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name="aayushiprojects.greasecrowd.activities.ViewFollowUpWorkActivity" />
        <activity
            android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${applicationId}.braintree" />
            </intent-filter>
        </activity>
        <activity
            android:name="aayushiprojects.greasecrowd.activities.DisplayServiceInclusionActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="aayushiprojects.greasecrowd.activities.CrowdDiscussionBoardActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeNavigation"
            android:windowSoftInputMode="stateHidden|adjustResize" />
    </application>

</manifest>